body {
  text-align: center;
  font-family: verdana;
}

hr {
  background-color: lightblue;
}

h3 {
  border: 2px solid blue;
  border-radius: 8px;
  padding: 5px;
}

div {
 
}
thead, tbody {
  box-shadow: 2px 2px;
  border: 3px solid;
  border-radius: 10px;
  padding: 7px;
}
